<div class="ft-auth-card">
  <h2 class="ft-auth-title">Change Password</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), method: :put) do |f| %>

    <%= render "shared/inline_flash" %>

    <%= f.hidden_field :reset_password_token %>

    <div class="mb-3">
      <label class="form-label">New Password</label>
      <%= f.password_field :password, class: "form-control ft-input" %>
    </div>

    <div class="mb-3">
      <label class="form-label">Confirm Password</label>
      <%= f.password_field :password_confirmation, class: "form-control ft-input" %>
    </div>

    <%= f.submit "Update Password", class: "btn ft-btn-primary w-100" %>
  <% end %>
</div>